/* src/modal/Modal.css */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }

  
  .modal-content {
    background-color: #392c3a;
    padding: 20px;
    border: 4px solid #793381;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 40%; /* Ajusta el modal a un porcentaje de la pantalla */
    max-height: 90vh; /* Máximo alto en el 90% de la pantalla */
    overflow: auto;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
  }
  
  .close:hover {
    color: black;
  }
  
  @media (max-width: 600px) {
    .modal-content {
        width: 50%; /* Ajusta el ancho del modal para pantallas pequeñas */
        max-width: 90%; /* Evita que el modal sea demasiado grande en pantallas pequeñas */
    }
}