footer {
    height: 5vw;
    background-color: #140e14fa; /* Color de fondo del footer */
    color: white; /* Color del texto */
    padding: 20px;
    text-align: center;
    position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
  }
    #footer-logo {
    max-width: 100%;
    max-height: 100%;
    /* Define un ancho máximo */
    height: auto;
    /* Mantiene las proporciones */
}